In [2]:
import numpy as np
import pandas as pd

In [3]:
def load_data(path, header):
    df = pd.read_csv(path, header = header)
    return df

In [6]:
# load insurance data with features {age, sex, bmi, children, smoker, region } and target charges
insurance_df = load_data("data/insurance.csv", header=0)

In [16]:
insurance_df

,age,sex,bmi,children,smoker,region,charges,sex_int,region_int,smoker_int
0,19,female,27.900,0,yes,southwest,16884.92400,0,3,1
1,18,male,33.770,1,no,southeast,1725.55230,1,2,0
2,28,male,33.000,3,no,southeast,4449.46200,1,2,0
3,33,male,22.705,0,no,northwest,21984.47061,1,1,0
4,32,male,28.880,0,no,northwest,3866.85520,1,1,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,male,30.970,3,no,northwest,10600.54830,1,1,0
1334,18,female,31.920,0,no,northeast,2205.98080,0,0,0
1335,18,female,36.850,0,no,southeast,1629.83350,0,2,0
1336,21,female,25.800,0,no,southwest,2007.94500,0,3,0
1337,61,female,29.070,0,yes,northwest,29141.36030,0,1,1

In [15]:
#Convert string categories to integers 
insurance_df['sex_int'] = insurance_df['sex'].map({'female': 0, 'male': 1})
insurance_df['region_int'] = insurance_df['region'].map({'northeast': 0, 'northwest': 1, 'southeast' : 2, 'southwest': 3})
insurance_df['smoker_int'] = insurance_df['smoker'].map({'no': 0, 'yes': 1})

In [48]:
#Extract feature columns and convert to numpy matrix
regression_df = insurance_df[['age', 'bmi', 'children', 'sex_int', 'region_int', 'smoker_int']]
X_raw = regression_df.values

In [30]:
#Create theta with initially random values
theta = np.random.randn(X.shape[1] + 1)

In [49]:
# Prepend column of ones for x0
X = np.column_stack((np.ones(X.shape[0]), X_raw))

In [52]:
np.dot(X, theta)

(1338,)

In [47]:
X

array([[19.  , 27.9 ,  0.  ,  0.  ,  3.  ,  1.  ],
       [18.  , 33.77,  1.  ,  1.  ,  2.  ,  0.  ],
       [28.  , 33.  ,  3.  ,  1.  ,  2.  ,  0.  ],
       ...,
       [18.  , 36.85,  0.  ,  0.  ,  2.  ,  0.  ],
       [21.  , 25.8 ,  0.  ,  0.  ,  3.  ,  0.  ],
       [61.  , 29.07,  0.  ,  0.  ,  1.  ,  1.  ]])